h1 New Film
p id:
  span= data.id
p name:
  span= data.name
p publishyear:
  span= data.publishyear
p directors:
  span= data.directors
p category: 
  span= data.category
p rentbyday: 
  span= data.rentbyday 
p time: 
  span= data.time 
p capacity: 
  span= data.capacity
p resolution: 
  span= data.resolution
a(href='/create') New
